name: Build ESP (.tipa)

on:
  workflow_dispatch:

jobs:
  build_esp:
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git $HOME/theos
          echo "THEOS=$HOME/theos" >> $GITHUB_ENV
          echo "export THEOS=$HOME/theos" >> $GITHUB_ENV

      - name: Verify Theos
        run: |
          ls $THEOS/makefiles
          echo "THEOS is set to $THEOS"

      - name: Build ESP
        working-directory: ${{ github.workspace }}
        run: |
          make clean || true
          make package
        env:
          THEOS: $HOME/theos

      - name: Upload .tipa
        uses: actions/upload-artifact@v4
        with:
          name: External_ESP_Free_Fire
          path: ./packages/*.tipa
          retention-days: 3
